<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Hamilton</title>
</head>
<body>
    <h1>Edmond Hamilton</h1>
    <img src="img/Edmond-Hamilton.jpg">
    <p>Edmond Moore Hamilton (Youngstown, Ohio, 21 de octubre de 1904-Lancaster, California, 1 de febrero de
     1977) fue un escritor estadounidense de ciencia ficción que se hizo famoso a mediados del siglo veinte. 
     Fue un escritor polifacético que abarcó diferentes géneros literarios, como el horror, el realismo y la 
     fantasía. Varios estudiosos de la historia de la ciencia ficción le otorgan la mención de ser el creador 
     del subgénero llamado space opera, título que comparte con el escritor E. E. Smith.</p>
</body>
</html>